<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
      <connectionStrings>
        <add name="Data Source=(LocalDB)\MSSQLLocalDB; Attach Db File name =D:\Институт\5семестр\Базы данных+групповая динамика\Бази даних\Курсовий проект\University\Universit"/>
      </connectionStrings>
    </startup>
</configuration>
